<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My CRUD in NodeJS</title>
  </head>
  <body>
    <h2>Products List</h2>
    <table border="1">
      <thead>
        <tr>
          <td>Product</td>
          <td>Price</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(details) { %>
        <tr>
          <td><%= details.product %></td>
          <td><%= details.price %></td>
          <td>
            <a href="/edit_product/<%= details._id %>">Editar</a> -
            <a href="/delete_product/<%= details._id %>">Deletar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <button><a href="/">Novo Usuário</a></button>
    <button><a href="/product">Novo Produto</a></button>
  </body>
</html>
