<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
    <h2>Register<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Last Name" name="surname">
        <button type="submit">Submit</button>
    </form> 
 
</body>
</html>